<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tbdll-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155950201807CD3300AE5FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155950261807CDB300AE5FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>156D90BE17F978500091DD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15E033BB1808024700DA708F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
